/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&family=Montserrat:wght@800&family=Niramit:ital,wght@1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.racing-sans-font{
    font-family: 'Racing Sans One', sans-serif;
}

body{
    overflow-x: hidden !important;
}

.bg-grey{
    background-color: #424242;
}

.bgimg {
    position: relative;
    height: 70vh;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../../assets/images/bgimage.jpg');
}

.bgimg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    opacity: 0.7;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.container a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 6px;
} */

.headerset {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
}

.headerset h1 {
    font-size: 5em;
    margin-bottom: 0;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.custom-center {
    margin-left: 8rem !important;
}

.nav-item {
    margin-left: 10px;
}

.headings {
    color: white !important;
}


/* 
.header-section {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('bg5.jpg');
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
}

@media (max-width:500px) {
    .header-section{
        height: 141vh !important;
    }
    .main-heading{
        font-size: 4rem !important;
    }
}

.navbar-brand {
    z-index: 1;
 
}

.text-white {
    z-index: 1;

} */

.main-heading {

    /* font-family: 'Montserrat', sans-serif; */
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 4px;
    /* font-style: italic; */


} 
.images{
    width: 700px;
    height: 900px;
}
.main-body{
    background-color: #f5f5f5;
}
@media screen and (max-width:500px) and (min-width:399px) {
    .images{
        width: 400px;
        height: 700px;
    }
    .main-heading{
        font-size: 4rem;
    }
}

@media (max-width:900px) {
    .custom-center {
        margin-left: 2rem !important;
    }

}

@media (max-width: 767px) {
    .navbar {
        background-color: #424242;
        margin-top: 0;
        padding: 0px 5px 0px 5px !important;
    }
    .navbar a{
        margin: 0;
    }

    .logo {
        width: 80px !important;
    }

    .nav-link {
        color: whitesmoke !important;
        margin-left: 1rem;
    }

    .icon {
        border-color: red !important;
    }
   
}
/* Footer */
.bgimg3 {
    position: relative;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.bgimg3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../../assets/images/contactus-about.jpg') center/cover no-repeat fixed;
    opacity: 0.3;
    z-index: -1;
}

.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 42, 42);
    background: linear-gradient(to top, rgb(19, 18, 18), rgba(12, 12, 12, 1));
    z-index: 0;
}



.footer {
    color: white;
}

.alllinks a {
    color: white !important;
    text-decoration: none !important;
}

.alllinks a:hover {
    color: red !important;
    cursor: pointer;
}

.line {
    background-color: white !important;
    position: relative;
    z-index: 1 !important;
}

.social-icons:hover {
    color: red !important;
}

@media screen and (max-width: 630px) and (min-width: 501px) {
    .images{
        width: 430px;
    }
    
}
@media (max-width:400px){
    .images{
        width: 100%;
    }
    .main-heading{
        font-size: 3.5rem;
    }
}

/* ////// */